*.iml
.idea/
.gradle/
/out/
*.class
/lessons/*/out/
/tmp/
/target/
/classes/
/build/
/gateway-service/build
/lesson-service/build
/task-executor-service/build
/task-executor-service/answers
/user-service/build
application-prod.properties